<!DOCTYPE html>
<html lang="en">
<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Converting the Querystring in to JSON</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body id="json">

	<script>
		
		function QueryStringToJSON() {      
			var pairs = location.search.slice(1).split('&');
			
			var result = {};
			pairs.forEach(function(pair) {
				pair = pair.split('=');
				result[pair[0]] = decodeURIComponent(pair[1] || '');
			});

			return JSON.parse(JSON.stringify(result));
		}
		
		var qs = QueryStringToJSON();

		document.body.innerText = '{ "frames": ['+JSON.stringify(qs)+']}';
				
	</script>
</body>
</html>
